@charset "UTF-8";

:root {
  --duration: 15s;
}

body {
  background: #f7f7f7;
  overflow: hidden;
}

.wrapper-images-container{
  height: 60vh;
}


.wrapper-images {
  display: flex;
  flex-direction: column;
  height: 60vh;
  justify-content: center;
  position: absolute;
  left: 50%;
  top: 50%;
  opacity: 0.8;
  transform: translate3d(-50%, -50%, 0) perspective(800px) rotatey(-10deg) rotate(10deg);
}

.images-line {
  -webkit-animation: runner var(--duration) linear infinite;
          animation: runner var(--duration) linear infinite;
  display: flex;
  transform: translateX(23%);
}

.images-line:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.images-line .line {
  background-position: 50% 50%;
  background-size: cover;
  flex: none;
  height: 20vh;
  margin: clamp(15px, 3vw, 30px);
  width: 20vh;
  position: relative;
  transition: ease-in-out all 0.3s;
}

.images-line .line .img {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-position: 50% 50%;
  background-size: cover;
  transition: ease-in-out all 0.3s;
}

.images-line .line:hover .img {
  cursor: pointer;
  transform: scale(1.1) translatez(0px);
}

.images-line .line:hover:after {
  filter: blur(35px) opacity(0.8);
}

.images-line .line:after {
  content: "";
  background: inherit;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  top: 3vh;
  position: absolute;
  background-size: cover;
  z-index: -1;
  transition: ease-in-out all 0.3s;
  filter: blur(25px) opacity(0.8);
}

@-webkit-keyframes runner {
  to {
    transform: translateX(-10.4%);
  }
}

@keyframes runner {
  to {
    transform: translateX(-10.4%);
  }
}